[Unit]
Description=Telegram Automation Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/telegram_automation
ExecStart=/home/ubuntu/telegram_automation/venv/bin/python /home/ubuntu/telegram_automation/main.py
Restart=always

[Install]
WantedBy=multi-user.target



